/* TITLE SECTION */

.title-root {
    height: clamp(100px, calc(100vh - 78px), 750px);    
    background: hsl(50, 100%, 80%);
}

.title-root > div {
    height: 100%;
    background-image: url('/about/steppingIntoLibrary2.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.title-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-content > div {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 3px hsl(359, 94%, 22%);
    background: rgba(255, 238, 153, 1);
}


/* TYPOGRAPHY */

.catamaran {
    font-family: 'Catamaran' !important;
}

.body-text {
    font-size: 1.3rem !important;
}

@media only screen and (max-width: 500px) {
    .title-text {
        font-size: 2rem !important;
    }
    .body-text {
        font-size: 1rem !important;
    }
}


/* TRANSITION TRIANGLES */

.triangle {
    position: absolute;
    left: 0;
    top: 0;
    border-left: calc(50vw - 24px) solid transparent;
    border-right: calc(50vw - 24px) solid transparent;
}

.gray-triangle {
    border-top: 48px solid hsl(50, 100%, 97%);
}

.white-triangle {
    border-top: 48px solid #fff;
}

/* CONTAINERS */

.c1-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.c1-container > div {
    margin-top: 1rem;
}

.c1-container > div:first-child {
    margin-right: 10%;
}

.c1-graphic-container {
    min-width: 300px;
    flex-basis: 40%;
    text-align: center;
}

.c1-graphic-container img {
    max-width: 100%;
}

.c1-text-container {
    max-width: 600px;
    min-width: 300px;
    flex-basis: 50%;
}

@media only screen and (max-width: 915px) {
    .c1-container > div {
        flex-basis: 100%;
        margin-right: 0;
    }

    .c1-container > div:first-child {
        margin-right: 0;
    }

    .c1-text-container {
        max-width: none;
        min-width: none;
        text-align: center;
        order: -1;
    }

    .c1-graphic-container {
        min-width: none;
    }

    .c1-text-container > div {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 520px) {
    .c1-text-container {
        padding: 0 1rem;
    }
}