

/* TYPOGRAPHY */

.catamaran {
    font-family: 'Catamaran' !important;
}

.desc-text {
    font-size: 1.5rem !important;
}


/* SURVEY */

.form-container {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

/* Main Page*/

.book-img-grid-item {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.book-img-grid-item div {
    background-image: url('/background/books.png');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 200px auto;
    flex: 1;
}

.book-img {
    width: 100%;
    border-radius: 10px;
}

.current-info-box {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 10vh;
}

.next-img-grid-item {
    width: 33%;
}

.next-img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.next-info-container {
    display: flex;
    flex-direction: column;
}

.next-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media only screen and (max-width: 700px) {
    .book-img {
        display: none;
    }
    .book-img-grid-item {
        display: none;
    }
}


/* Books List Page */

.books-list-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100%;
}

.books-list-side {
    flex: 1;
    background-image: url('/background/books.png');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 200px auto;
    opacity: .6;
}