
/* MAIN HEADER */

.main-root {
    padding: .5rem 1rem;
}

.title {
    color: hsl(229, 100%, 58%);
    font-weight: 600 !important;
    white-space: nowrap;
    font-family: "Catamaran" !important;
}

.link {
    color: hsl(359, 94%, 32%);
}

.link:hover {
    color: hsl(359, 94%, 22%);
}

@media only screen and (min-width: 1000px) {
    .main-root {
        padding: .5rem 2rem;
    }
}

.small-screen-content {
    display: none;
}

@media only screen and (max-width: 700px) {
    .large-screen-content {
        display: none;
    }
    .small-screen-content {
        display: initial;
    }
}

.drawer {
    background: hsl(50, 100%, 97%) !important;
}

.drawer-list {
    width: 250px;
    padding-top: 0;
}

.drawer-list > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}