
/* MAIN HEADER */

.main-root {
    padding: .5rem 1rem;
}

.title {
    color: hsl(229, 100%, 58%);
    font-weight: 600 !important;
    white-space: nowrap;
    font-family: "Catamaran" !important;
}

.link {
    color: hsl(359, 94%, 32%);
}

.link:hover {
    color: hsl(359, 94%, 22%);
}

@media only screen and (min-width: 1000px) {
    .main-root {
        padding: .5rem 2rem;
    }
}