
/* Basic Grid layouts */

.root {
    display: grid;
    min-height: 100vh;
    grid-template: auto auto 1fr auto / minmax(300px, 20%) 1fr
}

.header {
    grid-column: 1 / span 2;
}

.sub-ad {
    grid-column: 1 / span 2;
}

.side-bar {
    grid-column: 1 / span 1;
}

.main {
    grid-column: 2 / span 1;
}

.footer {
    grid-column: 1 / span 3;
}


/* Entry Banner */

.donQuijote-banner-root {
    height: 600px;
    background: hsl(50, 100%, 80%);
}

.donQuijote-banner-root > div {
    display: flex;
    background-image: url('/landingPage/grass.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 175px;
    padding: 0 2rem;
}

.donQuijote-image {
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 50%;
    overflow: hidden;
}


.donQuijote-image img {
    height: 100%;
}

.main-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-message-textbox {
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .donQuijote-banner-root > div {
        background-image: none;
    }
}

@media only screen and (max-width: 1200px) {
    .donQuijote-image {
        min-width: 400px;
    }

}

@media only screen and (max-width: 890px) {
    .donQuijote-banner-root {
        height: auto;
    }

    .donQuijote-image {
        min-width: 300px;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 790px) {

    .donQuijote-image {
        min-width: 240px;
    }
}

@media only screen and (max-width: 750px) {

    .donQuijote-banner-root > div {
        flex-wrap: wrap;
    }

    .donQuijote-image {
        width: 100%;
        height: 300px;
        justify-content: flex-end;
        margin-top: -30px;
    }

    .main-message-title {
        font-size: 3rem !important;
    }
}


/* TYPOGRAPHY */

.catamaran {
    font-family: "Catamaran" !important;
}

.red {
    color: hsl(359, 94%, 42%);
}

.light-red {
    color: hsl(359, 80%, 50%);
}