
/* Basic Grid layouts */

.root {
    display: grid;
    min-height: 100vh;
    grid-template: auto auto 1fr auto / minmax(300px, 20%) 1fr
}

.header {
    grid-column: 1 / span 2;
}

.sub-ad {
    grid-column: 1 / span 2;
}

.side-bar {
    grid-column: 1 / span 1;
}

.main {
    grid-column: 2 / span 1;
}

.footer {
    grid-column: 1 / span 3;
}