
.root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.main-section-root {
    display: grid;
    height: clamp(500px, 100%, 1000px);
    grid-template-columns: minmax(300px, auto) 1fr;
}

/* SIDEBAR */

.popout-sidebar {
    display: none;
}

.sidebar.main {
    width: clamp(300px, 20%, 500px);
}

.sidebar.popup {
    width: 250px;
    background:hsl(50, 100%, 97%);
    padding: .5rem 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0 10px;
    margin-top: 1rem;
}

.sidebar ul li {
    margin-bottom: 8px;
}

.sidebar ul li p {
    font-size: 1.4rem;
    letter-spacing: .06rem;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .sidebar.main {
        display: none;
    }
    .popout-sidebar {
        display: initial;
    }
    .main-section-root {
        grid-template-columns: 1fr;
    }
}


/* USER PANEL */

.user-panel-root {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 1fr;
}

.filters-display-overflow {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 50px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.filters-display-overflow::-webkit-scrollbar { 
    width: 0;
}


/* LIST DISPLAY */

.list-display-root {
    padding-left: 50px;
}

.list-display-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.list-display-items-container img {
    max-height: 100px;
}


/* DISPLAY PANEL */

.display-panel-root {
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.display-panel-root > main {
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.display-panel-side {
    display: flex;
    justify-content: center;
    padding-top: 215px;
}

.display-panel-side.active {
    cursor: pointer;
}

.display-panel-side.disabled {
    opacity: .2;
}

.display-panel-row {
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 35px;
    margin-bottom: 10px;
}

.shelf-background, .panel, .preview-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.shelf {
    border-bottom: 30px solid hsla(359, 94%, 32%, .5);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
	top: -20px;
    z-index: -10;
    position: relative;
}

.shelf::after {
	content: '';
	background: hsla(359, 94%, 32%, .9);
	height: 20px;
	width: calc(100% + 40px); /*IE9+*/
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	z-index: 1;
    margin: 0 -20px;
}

.paper {
    height: 215px;
    z-index: 5;
}

.display-item {
    position: relative;
    cursor: pointer;
}

.display-item-title {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 140px;
    height: 180px;
    display: grid;
    place-items: center;
    z-index: 6;
}

.display-item-title p {
    text-align: center;
}

.display-item-type {
    position: absolute;
    left: 40px;
    top: 190px;
    height: 25px;
    width: 70px;
    display: flex;
    align-items: flex-end;
    color:hsla(359, 94%, 32%, .7) !important;
    z-index: 6;
}

.display-item-img-container {
    position: absolute;
    top: 25px;
    left: 0px;
    overflow: hidden;
    width: 200px;
    height: 165px;
    border-bottom-left-radius: 15px;
}

.display-item-image {
    position: absolute;
    height: 165px;
    left: 0;
    max-width: 180px;
    z-index: -1;
    transform: translateX(-35%);
    opacity: .7;
}

@media only screen and (max-width: 1000px) {
    .display-panel-root {
        height: calc(100% - 50px);
    }
}


/* SEARCH PANEL */

.search-panel-root {
    padding: 1rem 50px;
}

.searchbar-grid-item {
    flex-grow: 1;
    max-width: 500px;
}

.filters-dropdown-container {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: 800px;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
    padding: 1rem 1rem;
}

.text-faded {
    color: rgba(0, 0, 0, .9)
}

@media only screen and (max-width: 500px) {
    .search-panel-options-item {
        display: none;
    }
}


/* SETTINGS */

.settings-menuitem {
    padding: .8rem .5rem !important;
    background: hsla(229, 100%, 81%, .05) !important;
}

.settings-menuitem:hover {
    background: hsla(229, 100%, 81%, .3) !important;
}

.settings-menuitem.selected {
    background:hsla(229, 100%, 81%, .3) !important;
}

.settings-option {
    padding: .8rem .5rem !important;
}


/* PREVIEW PANEL */

.preview-bg {
    background: hsl(50, 100%, 97%);
}

.preview-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.preview-root {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
    overflow-y: auto;
}

.picture-grid {
    display: grid;
    grid-template-columns: 200px auto;
    margin: 0 auto;
}

.preview-image-container {
    overflow: hidden;
}

.preview-image-container img {
    width: 200px;
    border-radius: 5px;
}

.preview-close-container {
    position: absolute;
    top: 0;
    left: calc(100% - 60px);
}

.preview-visit-container {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 675px) {
    .picture-grid {
        grid-template-columns: 1fr;
    }
    .preview-image-container img {
        margin-left: 40px;
    }
}


/* BITE DISPLAY */

.bite-display-root {
    padding-top: 1rem;
    overflow: hidden;
}

.bite-display-paper {
    border-radius: 24px;
    position: relative;
}

.bite-display-circle {
    position: absolute;
    background: hsl(50, 100%, 97%);
    border-radius: 50%;
}

.bite-display-c1 {
    top: -20px;
    right: -20px;
    width: 120px;
    height: 120px;
    transform: translate(50%, -50%)
}

.bite-display-c2 {
    top: -40px;
    right: 40px;
    width: 70px;
    height: 70px;
}

.bite-display-c3 {
    top: -20px;
    right: 0px;
    width: 80px;
    height: 80px;
}

.bite-display-c4 {
    top: 20px;
    right: -20px;
    width: 50px;
    height: 50px;
}