
/* BASIC */

.catamaran {
    font-family: 'Catamaran';
}

/* MAIN */

.root {
    display: grid;
    grid-template-columns: minmax(370px, .5fr) minmax(500px, 1fr);
}

/* PROFILE PIC */

.pic-container {
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 5px;
    position: relative;
}

.pic-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}

.pic-avatar {
    height: 300px !important;
    width: 300px !important;
}

.pic-input {
    height: 0;
    width: 0;
}