

/* GRID TEMPLATE */

.root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.list-container {
    column-count: 3;
    column-gap: 20px;
}

@media (max-width: 960px) {
    .list-container {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .list-container {
        column-count: 1;
    }
}