

/* GRID TEMPLATE */

.root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 2000;
}

/* 2 Column List */

.list-container {
    column-count: 3;
    column-gap: 20px;
}

.detailed-list-container {
    column-count: 3;
    column-gap: 20px;
}

.detailed-list-container img {
    max-height: 100px;
}

@media (max-width: 1280px) {
    .detailed-list-container {
        column-count: 2;
    }
}

@media (max-width: 960px) {
    .list-container {
        column-count: 2;
    }
    .detailed-list-container {
        column-count: 1;
    }
}

@media (max-width: 600px) {
    .list-container {
        column-count: 1;
    }
}


/* Time Period Timeline */

.timeline-root {
    display: grid;
    grid-template-columns: 1fr auto;
}

.period-root {
    padding-bottom: 100px;
    position: relative;
}

.timeperiod-marker {
    position: absolute;
    width: 0;
    height: 0;
    top: -60px;
}

.timeline-line::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 100px;
    left: 50%;
    margin-left: -7px;
    bottom: 0px;
    background: hsl(229, 100%, 81%);
}

.period-content {
    border: 8px solid hsl(359, 55%, 58%);
    padding: 16px 16px;
    border-radius: 6px;
    position: relative;
}

.top-dot::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -19px;
    margin-left: -15px;
    border: 5px solid hsl(359, 55%, 58%);
    background: hsl(229, 100%, 81%);
}

.bottom-dot::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: -19px;
    margin-left: -15px;
    border: 5px solid hsl(359, 55%, 58%);
    background: hsl(229, 100%, 81%);
    z-index: 1;
}

.accordion {
    background: hsl(50, 100%, 97%) !important;
}

.content-list-container {
    display: grid;
    gap: 20px;
}

/* Time Period Nav */

.nav-root {
    background: #fff;
    position: sticky;
    top: 90px;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    background: hsl(229, 100%, 81%);
}

.nav-item p {
    font-size: 1.1rem;
}

.nav-selected {
    background: hsl(229, 100%, 81%);
}

@media (max-width: 960px) {
    .nav-root {
        display: none;
    }
}